<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Postgresql"
            extensions="pex"
            icon="icons/pgadmin3.gif"
            contributorClass="se.pex.editors.PexEditorContributor"
            class="se.pex.editors.PexEditor"
            id="se.pex.editors.PexEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Pex Wizards"
            id="pex">
      </category>
      <wizard
            name="Postgresql Explain file"
            icon="icons/pgadmin3.gif"
            category="pex"
            class="se.pex.wizards.PexWizard"
            id="se.pex.wizards.PexWizard">
      </wizard>
      <wizard
            category="pex"
            class="se.pex.wizards.UntitledWizard"
            icon="icons/pgadmin3.gif"
            id="se.pex.wizards.UntitledWizard"
            canFinishEarly="true"
            hasPages="false"
            name="Untitled Pex editor">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="se.pex.preferences.PexPreferencePage"
            id="se.pex.preferences.PexPreferencePage"
            category="org.eclipse.ui.preferencePages.Editors"
            name="Postgresql Explain Analyze">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="se.pex.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            inputTypes="se.pex.wizards.NonExistingFileEditorInput"
            id="pex.wizards.text.NonExistingFileDocumentProvider">
      </provider>
      <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            inputTypes="org.eclipse.ui.IURIEditorInput"
            id="org.eclipse.ui.editors.text.URIDocumentProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="pex.commands.category"
            name="PEX">
      </category>
      <command
            categoryId="pex.commands.category"
            id="pex.commands.sampleCommand"
            name="Goto matching bracket">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="se.pex.handlers.GotoBracketHandler"
            commandId="pex.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="pex.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>

</plugin>
